{"plugins":["prettier-plugin-tailwindcss","prettier-plugin-classnames","prettier-plugin-merge"],"customAttributes":["myClassProp"],"customFunctions":["clsx","cn"],"endingPosition":"relative","classnamesPrintWidth":60}